{% extends "base.html" %}
{% load gamecritic_tags %}

{% block title %}
{{ review.title }} | GameCritic
{% endblock %}

{% block content %}

<section class="max-w-3xl mx-auto pt-6">


<a href="{% url 'reviews:list' %}"
   class="mb-8 inline-block text-sm text-purple-400 hover:text-purple-300">
    ← Назад к обзорам
</a>

<article class="rounded-xl border border-zinc-800 bg-zinc-900 p-8 shadow-lg">

    <div class="mb-6 flex items-center gap-4">

        {% user_avatar review.author %}

        <div>
            <p class="font-medium text-white">
                {{ review.author.username }}
            </p>

            <p class="text-sm text-zinc-400">
                {{ review.created_at|date:"d M Y, H:i" }}
            </p>
        </div>

    </div>

    <h1 class="mb-8 border-b border-zinc-800 pb-4 text-4xl font-bold text-white">
        {{ review.title }}
    </h1>

    <div class="prose prose-invert max-w-none text-lg">
        {{ review.content|linebreaks }}
    </div>

</article>


</section>

{% endblock %}
