@import "tailwindcss";

@source "../../templates/**/*.html";
@source "../../**/templates/**/*.html";

@theme {
      /* цвета GameCritic */
  --color-gc-bg: #09090b;                            /* Основной темный фон */
  --color-gc-card: oklch(0.27 0.006 286.07);        /* Фон карточек и блоков */    
  --color-gc-border: oklch(37% 0.013 285.805 / 0.5);   /* Мягкие темные рамки и линии */
  --color-gc-accent: oklch(55.8% 0.288 302.321);     /* Фирменный фиолетовый для*/
  --color-gc-accent-hover: oklch(62.7% 0.265 303.9); /* Фиолетовый при наведении */
}
