<header class="sticky top-0 z-50 border-b border-zinc-800 bg-zinc-950 shadow-lg">
    <nav class="mx-auto flex max-w-7xl items-center justify-between px-6 py-4">

        <!-- Логотип -->
        <a href="{% url 'reviews:list' %}" 
            class="text-2xl font-bold text-white transition-colors hover:text-purple-400">
            Game<span class="text-purple-500">Critic</span>
        </a>

        <!-- Навигация -->
        <ul class="hidden items-center gap-8 md:flex">
            <li>
                <a href="#"
                   class="text-zinc-300 transition-colors hover:text-purple-400">
                    Обзоры
                </a>
            </li>

            <li>
                <a href="#"
                   class="text-zinc-300 transition-colors hover:text-purple-400">
                    Топ игр
                </a>
            </li>

            <li>
                <a href="#"
                   class="text-zinc-300 transition-colors hover:text-purple-400">
                    Авторы
                </a>
            </li>

            <li>
                <a href="{% url 'reviews:create' %}"
                   class="text-zinc-300 transition-colors hover:text-purple-400">
                    Написать обзор
                </a>
            </li>

        </ul>

        {% comment %} <!-- Авторизация -->
        <a href=" {% url 'users:login' %} "
           class="rounded-lg bg-purple-600 px-5 py-2 font-medium text-white transition-colors hover:bg-purple-500">
            Войти / Регистрация
        </a> {% endcomment %}

        <!-- Авторизация (Обновленный блок по заданию практической №10) -->
        <div class="flex items-center gap-4">

            {% if user.is_authenticated %}  <!-- если авторизирован -->
                
                <div class="flex items-center gap-4">
                    <!-- Аватарка -->
                    <div class="w-8 h-8 [&>div]:w-full [&>div]:h-full [&>div]:text-sm">
                        {% include 'reviews/components/avatar.html' %}
                    </div>

                    <!-- Имя пользователя -->
                    <span class="text-base font-medium text-zinc-300">
                        Привет, <strong class="text-purple-400 font-semibold">{{ user.username }}</strong>
                    </span>

                    <!-- Кнопка "Выйти" через POST -->
                    <form method="POST" action="{% url 'users:logout' %}" class="inline">
                        {% csrf_token %}
                        <button type="submit" 
                                class="text-base font-semibold text-zinc-400 hover:text-white transition-colors cursor-pointer bg-transparent border-none p-0">
                            Выйти
                        </button>
                    </form>
                </div>

            {% else %}
                <div class="flex items-center gap-4">
                    <a href="{% url 'users:login' %}" 
                       class="text-sm font-medium text-zinc-300 transition-colors hover:text-purple-400">
                        Войти
                    </a>
                    
                    <a href="{% url 'users:register' %}" 
                       class="rounded-lg bg-purple-600 px-5 py-2 font-medium text-white transition-colors hover:bg-purple-500 shadow-lg shadow-purple-900/20">
                        Регистрация
                    </a>
                </div>
            {% endif %}
        </div>

    </nav>
</header>