{% extends "base.html" %}
{% block title %}Войти | GameCritic{% endblock %}

{% block content %}
<div class="flex w-full items-center justify-center bg-zinc-950 px-4 py-12">
  <div class="w-full max-w-md rounded-xl bg-zinc-900 p-8 border border-zinc-800 shadow-2xl">
    
    <div class="mb-8 text-center">
      <h1 class="text-3xl font-bold text-white tracking-tight">
        Войти в <span class="text-gc-accent">GameCritic</span>
      </h1>
    </div>

    <!-- Форма авторизации -->
    <form method="POST" action="{% url 'users:login' %}" class="space-y-5">
      {% csrf_token %}

      <!-- Стилизация с хаком Arbitrary variants [&>p] и {{ form.as_p }} -->
      <div class="space-y-4 text-left text-zinc-300
                  [&>p]:flex [&>p]:flex-col [&>p]:mb-4
                  [&>p>label]:text-sm [&>p>label]:font-medium [&>p>label]:text-zinc-300 [&>p>label]:mb-2
                  [&>p>input]:w-full [&>p>input]:rounded-lg [&>p>input]:border [&>p>input]:border-zinc-300 [&>p>input]:bg-zinc-100 [&>p>input]:px-4 [&>p>input]:py-3 [&>p>input]:text-sm [&>p>input]:text-zinc-900 [&>p>input]:focus:border-gc-accent [&>p>input]:focus:outline-none [&>p>input]:focus:ring-1 [&>p>input]:focus:ring-gc-accent
                  [&>.errorlist]:p-3 [&>.errorlist]:bg-red-950/40 [&>.errorlist]:border [&>.errorlist]:border-red-700 [&>.errorlist]:text-red-200 [&>.errorlist]:text-sm [&>.errorlist]:rounded-lg [&>.errorlist]:list-none [&>.errorlist]:mb-4
                  [&>p>.helptext]:text-xs [&>p>.helptext]:text-zinc-500 [&>p>.helptext]:mt-1">
        
        {{ form.as_p }}
        
      </div>


      <div class="pt-4">
        <button type="submit" 
                class="w-full rounded-lg bg-purple-600 px-4 py-3.5 text-sm font-semibold text-white hover:bg-gc-accent-hover active:bg-gc-accent transition-colors cursor-pointer shadow-lg shadow-purple-900/30">
          Войти на сайт
        </button>
      </div>
    </form>

  </div>
</div>
{% endblock %}

